body{
  background-color: black;
  color: white;
}
form {
    box-sizing: border-box;
    text-align: center;
    width: 450px;
    height: 575px;
    background-color: #474747;
    color: #fff;
    font-size: 25px;
  
} 
.center{
 height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
  text-align: center;
}


#Clock{
  font-size: 50px;
  background-color: orange;
  padding: 20px 70px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}



